extend ./layout

block section
  h2.page-header 添加作者
    small.pull-right#massages-tips 
      !=messages()
  form.form-horizontal(method='post',action=`/admin/authors/add`)
    div.form-group
      label.col-sm-2.control-label(for='name') * 作者
      .col-sm-10
        textarea.form-control(name='name',placeholder='请输入作者...',required) 
    div.form-group
      label.col-sm-2.control-label(for='email') * 邮箱
      .col-sm-10
        textarea.form-control(name='email',placeholder='请输入邮箱...',required)
    div.form-group
      label.col-sm-2.control-label(for='password') * 密码
      .col-sm-10
        textarea.form-control(name='password',placeholder='请输入密码...',required)

    
    button.btn.btn-info(type='submit') 保存



