#忽略依赖包,后续可通过package.json文件中的记录重新npm install
node_modules

#忽略隐藏的项目配置文件
*.idea
*.iml

#忽略vscode开发编辑器的配置文件
*.vscode

#忽略本地版本库
.git

#忽略日志文件
*.log

#滤除本地数据库密码配置文件
password.js
#滤除本地的富文本编辑器ckeditor，改用bootcdn,减少远程库空间占用。或改用package.json记录下。
public/javascripts/ckeditor
