extends layout

block main
  h1= title
  p Welcome to #{title}
  p 下面是开发时遗留的问题 
  ul
    li *渲染文章分页时，要先查询到符合条件的文章总数，再根据总数来二次查询做分页，怎么样一次查询数据库搞定？
    li 链式编程查询数据库，中间查询到的数据在做后续处理(比如分组或分页,改变了查询结果)前如何保存下来呢？这样可以减少查询次数。
    li *查询数据库时，值可以直接用变量，那键作为变量呢？查询字段名是变量，又该怎么查询呢？
      br 
      答：  let sort={};
            sort[req.params.sortby]=req.query.sortdir;
            return await operation[item](sort);
    li jade中添加事件如何实现？该js block在jade中的位置？
    li admin/articles下表格标题不能居中？
    li mongoose如何根据数组字段的长度排序？
