extends layout

block content

  .container
      .blog-header
        h4.blog-title 
        
      .row
        .col-sm-8.blog-main

          block article      
        
        .col-sm-3.col-sm-offset-1.blog-sidebar

          block sidebar
            