extends ../../layout
append css
  link(rel='stylesheet', href='/stylesheets/blog.css')
block main
  block header
    .blog-masthead
      .container#top
        nav.blog-nav
          a.blog-nav-item(href='/blog/articles',class={active:menu=='articles'}) 首页
          a.blog-nav-item(href='/blog/mark',class={active:menu=='mark'}) 随笔
          a.blog-nav-item(href='/blog/community',class={active:menu=='community'}) 社区
          a.blog-nav-item(href='/blog/rank',class={active:menu=='rank'}) 排行榜
          a.blog-nav-item(href='/blog/about',class={active:menu=='about'}) 关于
          ul.nav.navbar-nav.navbar-right
            if user
              li
                a.blog-nav-item(href='/users/data')=user.name
              li
                a.blog-nav-item(href='/users/logout')
                  i.fa.fa-unlock-alt
                  | &nbsp;注销
            else
              li
                a.blog-nav-item(href='/users/login')
                  i.fa.fa-lock-alt
                  | &nbsp;登录
          form.navbar-form.navbar-right(method='post',action='/blog/articles/search')
            input.form-control(type='text',name='keyword' placeholder='请输入文章标题...')


  block content
    
  block footer
    footer.blog-footer
      p
        Blog  built by  
        |a(href='http://mengfei@github.com')&nbsp;mengfei
        |@2018.6.4 
      p
        a(href='#top') 返回顶部
        |&nbsp;&nbsp;&nbsp;&nbsp;
        a(href='/users/login') 用户登录
        |&nbsp;&nbsp;&nbsp;&nbsp;
        a(href='/users/register') 用户注册