extends ../home/article

block section
  h2.page-header
    =articles[0].category.name
    |&nbsp;分类下的所有文章列表
  each art in articles
    div.art
      h3.art-title
        =art.title
      .art-content
          =truncate(art.content,150)
      span.art-link
        a(href="/blog/articles/article?_id="+art._id,target='_blank') 查看全文

      .art-meta
        span.art-created
          |发布时间：&nbsp;
          =sd.format(art.created,'YYYY-MM-DD HH:mm')
        span.art-author
          |作者：&nbsp;
          a(href='author?author='+art.author.name,target="_blank")=art.author.name
        span.art-category
          |分类：&nbsp;
          a(href='category?category='+art.category.name,target="_blank")=art.category.name
        span.art-comment
          |评论：&nbsp;
          =art.comments.length||0
        span.art-created
          |赞：&nbsp;
          =art.meta.favoraties||0
  //bootstrap分页        
  if pageCount > 1    
    nav.page
      ul.pagination
        - var currentPage = 1
        while currentPage <= pageCount
          if(currentPage === pageNum)
            li.active
              a(href='category?category='+articles[0].category.name+'&page='+currentPage)=currentPage++
          else
            li
              a(href='category?category='+articles[0].category.name+'&page='+currentPage)=currentPage++    

      
          
        


      
          
        