extends content

block article
  
  .blog-post  

    block section1
      
    block section2
      
  block paging
    nav
      ul.pager
        li
          a(href='#') 上一页
        li
          a(href='#') 下一页 

block sidebar
  .sidebar-module.sidebar-module-inset
    h4 随笔
    p
      p.blog-post-meta
      | January 1, 2018 by 
      a(href='#') mengfei
      p  mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur...
  .sidebar-module
    h4 文章分类
    ol.list-unstyled
      li
        a(href='#') March 2018
      li
        a(href='#') February 2018
      li
        a(href='#') January 2018
      li
        a(href='#') December 2017
      li
        a(href='#') November 2017
      li
        a(href='#') October 2017
      
  .sidebar-module
    h4 友情链接
    ol.list-unstyled
      li
        a(href='#') 腾讯
      li
        a(href='#') 百度
      li
        a(href='#') 阿里巴巴