extends article

block section1
  h2.blog-post-title 文章1
  p.blog-post-meta
    | January 1, 2014 by 
    a(href='#') Mark
  p
    | This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.
  hr      
  blockquote
    p
      | Curabitur blandit tempus porttit that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.

block section2
  h2.blog-post-title 文章2
  p.blog-post-meta
    | January 1, 2018 by 
    a(href='#') mengfei

  each art in articles
    div.art
      h3.art-title
        =art.title
      .art-content
        =art.content
      .art-meta
        span.art-created
          |发布时间：&nbsp;
          =art.created
        span.art-author
          |作者：&nbsp;
          =art.author.name
        span.art-category
          |分类：&nbsp;
          =art.category.title
        span.art-comment
          |评论：&nbsp;
          =art.comments.length
        span.art-created
          |赞：&nbsp;
          =art.meta.favorite
      span.art-link
        a(href="articles/view/"+art._id,target="blank") 查看全文
          
        